{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<main class="flex-grow-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mx-auto" id="logout">
        <div class="row align-items-center">
          <div class="col-10">
            <h2>{% trans "Sign Out" %}</h2>
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button type="submit" id="commentbutton">{% trans 'Sign Out' %}</button>
            </form>
          </div>
          <div class="col-2">
            <img src="/static/images/image-from-rawpixel-id-3953202-png.png" alt="crumpled paper ball" height="100">
          </div>
        </div>
      </div>

    </div>
</main>

{% endblock content %}