{% extends "base.html" %}
{% load static %}
{% block content %}
{% if not user.is_authenticated %}
<h3 id="cta"> Welcome to Friendcurate. Join a thriving community of artists and art lovers alike <a
    href="{% url 'account_signup' %}">today.</a></h3>
{% endif %}
<!-- Carousel Section -->
{% if img_list %}
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for img in img_list %}

    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ forloop.counter0 }}"
      class="{% if forloop.first %}active{% endif %}" {% if forloop.first %}aria-current="true" {% endif %}
      aria-label="Slide {{ forloop.counter }}"></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for img in img_list %}
    {% if img.slug %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="10000">
      <img src="{{ img.image.url|add:'?f_auto,q_auto,h_400' }}" class="d-block w-100" alt="{{ img.title }}">
      <div class="carousel-caption d-md-block">
        <h5><a href="{% url 'img_detail' img.slug %}">{{ img.title }} by {{ img.author }}</a></h5>
        <div class="carouselcaption">{{ img.caption | safe }}</div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endif %}

<!-- Card List Section -->
{% if img_list %}
<div class="container mt-5">
  <div class="row">
    {% for img in img_list %}
    {% if img.slug %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{ img.image.url|add:'?f_auto,q_auto' }}" loading="lazy" class="card-img-top" alt="{{ img.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ img.title }}</h5>
          <p class="card-text"><small class="text-muted">by {{ img.author }}</small></p>
          <a href="{% url 'img_detail' img.slug %}" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
<div class="pagination justify-center">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current" class="btn-primary">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn-primary">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn-primary">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% endif %}
{% endblock %}